App(
    name: "random-examples-csf-S-csl-S",
    partial_atoms_sources: {
        "patom1": PartialAtomsSource(
            path:"../patoms.ron"
        ),
        "csf_patoms": (
            path:"../../../conifer-sdk/conifer-standard-framework/csf_atoms.ron"
        )
    },
    molecules: [
        Molecule(
            name: "main",
            atoms: [
                "io_atom"
            ]
        ),
        //Technically, the below Molecule is "auto-described" and need not be written (in the future)
        Molecule(
            name: "init",
            atoms: [
                "init_atom"
            ]
        ),
    ],
    atoms: {
        //Technically, the below Atom is "auto-described" and need not be written (in the future)
        "init_atom": Atom(
            partial_atoms: {
                "init_patom": "csf_patoms",
            },
            env_vars: {
                // applies to this atom
                "CSF_CONFIG": File("../some_csf.ron"), //this could be any other file
            }
        ),
        "io_atom": Atom(
            partial_atoms: {
                "io_csf_static_csl_static_patom": "patom1",
            }
        ),
    },
    main_electron: "init",
)
