App(
    name: "random-examples-decorate-string",
    partial_atoms_sources: {
        "decorate_string_patom_source": PartialAtomsSource(
            //type: local/git,
            path: "decorate_string_patoms.ron"
        ),
    },
    molecules: [
        Molecule(
            name: "decorate_string_molecule1",
            atoms: [
                "decorate_string_atom1"
            ]
        ),
        Molecule(
            name: "decorate_string_molecule2",
            atoms: [
                "decorate_string_atom2"
            ]
        ),
    ],
    atoms: {
        "decorate_string_atom1": Atom(
            //type: local/git,
            partial_atoms: {
                "decorate_string_patom1": "decorate_string_patom_source",
            }
        ),
        
        "decorate_string_atom2": Atom(
            //type: local/git,
            partial_atoms: {
                "decorate_string_patom2": "decorate_string_patom_source",
            }
        ),
        /*env_vars: {
            // applies to this atom and its partial_atoms
        }*/
    },
    main_electron: "boot_enjoy_decorating",
    /*env_vars: {
        // applies to all atoms and partial_atoms
    }*/
)
