App(
    name: "random-examples-multi-app-thread",
    partial_atoms_sources: {
        "multi_app_thread_patom_source": PartialAtomsSource(
            //type: local/git,
            path: "multi_app_thread_patoms.ron"
        ),
    },
    molecules: [
        Molecule(
            name: "main_molecule",
            atoms: [
                "main_atom"
            ]
        ),
    ],
    atoms: {
        "main_atom": Atom(
            //type: local/git,
            partial_atoms: {
                "multi_app_thread_patom": "multi_app_thread_patom_source",
            }
        ),
        /*env_vars: {
            // applies to this atom and its partial_atoms
        }*/
    },
    main_electron: "boot_enjoy_adding",
    /*env_vars: {
        // applies to all atoms and partial_atoms
    }*/
)
